/* AddReviewForm.css */
.single-product-container {
  display: flex;
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image img {
  width: 100%; /* Adjusted to use full width */
  max-width: 100%; /* Ensure the image doesn't exceed its container */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  border-radius: 8px;
}

.product_details {
  width: 50%;
  padding-left: 20px;
}

h1 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 10px;
  text-shadow: 0.3px 0.5px 0.6px #626263;
}

.description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #007bff;
}

.rating {
  margin-top: 10px;
  color: #ffc107;
}

.category {
  margin-top: 10px;
  font-style: italic;
  color: #28a745;
}

.route-product a {
  text-decoration: none;
  color: #626263;
}

.route-product {
  margin: 12px;
  color: thistle;
  font-size: 1.3rem;
}

a:hover {
  color: black;
  font-weight: 400;
}

.product-date-warrenty {
  width: 90%;
  display: flex;
  font-size: 10px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
}

.product-warrenty-data {
  text-align: center;
}

.img-product {
  text-align: center;
}

.singleproduct-block {
  display: flex;
  flex-direction: row; /* Adjusted to a column layout for responsiveness */
  justify-content: flex-start;
  align-items: center; /* Centering items */
}

/* Responsive Styling */
@media only screen and (max-width: 768px) {
  .single-product-container {
    flex-direction: column;
    align-items: center;
  }

  .product-image,
  .product_details {
    width: 100%;
  }
  .singleproduct-block{
    flex-direction: column;
  }
}
